<h1>Flights</h1>

<ul>
  <% @flights.each do |flight| %>
    <div id="flight-<%= flight.id %>">
      <li><%= link_to "Flight num. #{flight.number}", flight_path(flight) %> departing from: <%= flight.departure_city %> arriving: <%= flight.arrival_city %></li><br>
    </div>
  <% end %>
</ul>
